
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,h3,h4{
  margin: 10px;
} 
body {
  font-family: "Inter", sans-serif ;
  color: #333;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}
p{
  font-family: "Inter", sans-serif;
}
.monaco-editor .overflow-guard {
  align-items: flex-start !important;
}

