/* LOGIN CARD CONTAINER */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:  linear-gradient(to top , #014053,#f1f8fa, #01152f);
  position: relative;
}

/* LOGIN CARD */
.login-card {
  position: relative;
  width: 360px;
  padding: 2.5rem;
  border-radius: 12px;
  background-image: linear-gradient(#cbdce5,#cbe1e1);
  color: #fff;
  z-index: 0;
  overflow: hidden;
}

/* Glowing border animation (outer layer) */
.login-card::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(
    30deg,
   #0b405b,
   #658a95,
   #3a8686,
   #012f2f,
   rgb(1, 24, 39)
  ); 
  background-size: 500%;
  animation: glowing-border 2s ease-in infinite;
  filter: blur(2px);
  z-index: -1;
  border-radius: 12px;
}
.login-card::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  background:  linear-gradient(#eeeff0,#cbe1e1); 
  z-index: -1;
  border-radius: 10px;
}
.login-card>h3{
  text-align: center;
  color: #011827;
}
@keyframes glowing-border {
  0% {
    background-position: 0% 100%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* TABS */
.tabs {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-around;
}

.tab {
  flex: 1;
  padding: 8px 0;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  color: #000000;
  transition: all 0.3s ease;
}

.tab.active {
  color: #021b29;
  position: relative;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0d4563, #148989);
}


/* LOGO */
.logo {
  height: 60px;
  margin: 10px auto;
  display: block;
}

/* FORM ELEMENTS */
form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #f5f5f5;
  color: rgb(0, 0, 0);
  outline: none;
  transition: 0.3s;
  border: 1px solid #055e5e;
}

input:focus {
  border: 1px solid #013535;
}

button {
  padding: 10px;
  margin-top: 15px;
  background: #011818;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.1s;
}

button:hover {
  background: #025f5f;
}

.t1 {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #022929;
}
.rectangle{
  opacity: 0.5;
  height: 250px;
  width: 250px;
  position: fixed;
  bottom: 0px;
  background-color: white;
}

.t1 span:hover {
  text-decoration: underline;
  color: #074141;
  cursor: pointer;
}