#nava {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10svh;
  box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.2);
  position: relative;
}

nav.dtheme {
  box-shadow: 0 2px 0px 0px rgba(248, 235, 235, 0.2);
}

.nav-left {
  display: flex;
  align-items: center;
 
}
.nav-left img{
  height: 9svh;
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right > img {
  width: 8svh;
  height: 8svh;
  margin: 10px;
}

.theme {
  border-radius: 50%;
  margin-right: 5svh;
}

body.light {
  background: linear-gradient(to bottom,#fafcfc, #f3f8f8,#e4fdfd,#7fbaba);
  color: black;
}

body.dark {
  background: linear-gradient(to bottom,#101111, #131313,#1d2323,#3d6f6f);
  color: white;
}

.nav-con {
  margin-left: 30px;
}

.profile_circle {
  background-color: rgb(215, 215, 215);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 7svh;
  height: 7svh;
  margin: 5px;
  cursor: pointer;
}

.profile_wrapper {
  position: relative;
}

.dash-drop {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  pointer-events: none;
  z-index: 1000;
}

.dash-drop.open {
  opacity: 1;
  max-height: 500px;
  pointer-events: auto;
}
